body {
    color:rgb(86, 14, 202);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    background-color: silver;
}
table {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    background-color: rgb(243, 241, 240);
    color: black;
    text-align: center;
    border: 1px solid rgb(10, 9, 10);
}
a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    color: rgb(12, 6, 34);
    text-decoration: none;

    font-weight: bold;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid;
}
a:hover {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    color: rgb(59, 20, 202);
    text-decoration: none;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid;
}

